*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
     background-color:rgba(245, 245, 245, 0.803)
}
.logo{
    font-size: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin:0 40px 0 40px;
    padding-top: 30px;
}
.links a{
    text-decoration: none;
    color:black;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.img{
    padding-top: 150px;
    padding-left: 90px;
   
}
.main{
    display: flex;
}
.text{
    padding-top: 130px;
    padding-left: 50px;
    font-size: 40px;
    font-weight: bolder;
}
.font{
    font-size: 19px;
    padding-top: 40px;
    font-weight: bolder; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.waitlist{
    padding:7px;
    width: 400px;
    font-size: 17px;
    font-weight:bold;
}
.btn{
 width: 100px;
 padding: 12px;
  background-color: rgba(11, 184, 11, 0.741);
  color: white;
  border: 1px limegreen;
  cursor: pointer;
}